<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <title>Skim - Link Shortener</title>
    <link href="@Url.Content("~/css/site.min.css")" rel="stylesheet" type="text/css" asp-append-version="true"/>
</head>
<body>
    <div class="main">
        @RenderBody()
    </div>
</body>
</html>